<a href="https://colab.research.google.com/github/LilyLiu945/12-week-python-journey/blob/main/Basic_Knowledge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Challenge Problems

In [ ]:
# Better Version!
def spy_game(nums):

  code = [0,0,7,'x']

  for num in nums:
    if num == code[0]:
      code.pop(0)
  return len(code) == 1

In [ ]:
def spy_game(l):
    for i in range(0, len(l)):
        if l[i] == 0:
            for j in range(i+1, len(l)):
                if l[j] == 0:
                    for k in range(j+1, len(l)):
                        if l[k] == 7:
                            return True
    return False

In [ ]:
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
spy_game([1,7,2,0,4,5,0])

False

In [ ]:
# Returns the number of prime numbers taht exist up to and including a given number.
def count_primes(num):

# Check for 0 or 1 input
  if num < 2:
    return 0

# 2 or greater
# Store prime numbers
  primes = [2]
# Counter going up to the imput num
  x = 3

# x is going through every number up to input num
  while x <= num:
    # Check if x is prime
    for y in range(3,x,2): # Best method: in primes!!!
      if x%y == 0:
        x += 2
        break
    else:
      primes.append(x)
      x += 2
  print(primes)
  return len(primes)

# for item in iterable:
#   if:
#     break
# else:

# Only when the for loop "ends naturally" (no break) will it enter the else

In [ ]:
# Another Version
def is_prime(n):
  # Exclude 0, 1 and even numbers other than 2
  if n < 2:
    return False
  if n == 2:
    return True
  if n % 2 == 0:
    return False

  # Only check to the square root
  for i in range(3, int(n**0.5) + 1, 2):
    if n % i == 0:
      return False
  return True

def count_primes(num):
  return len([x for x in range(2, num+1) if is_prime(x)])

In [ ]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
def print_big(letter):
  patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*  * ',9:'*    '}
  alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
  for pattern in alphabet[letter.upper()]:
    print(patterns[pattern])

In [ ]:
print_big('a')

  *
 * *
*****
*   *
*   *

Lambda Expressions, Map and Filter

In [ ]:
def square(num):
  return num**2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
for item in map(square,my_nums):
  print(item)

1
4
9
16
25

In [ ]:
list((map(square,my_nums)))

[1, 4, 9, 16, 25]

In [ ]:
def splicer(mystring):
  if len(mystring)%2 == 0:
    return 'EVEN'
  else:
    return mystring[0]

In [ ]:
names = ['Andy','Eve','Sally']

In [ ]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [ ]:
def check_even(num):
  return num%2 == 0

In [ ]:
mynums = [1,2,3,4,5,6]

In [ ]:
filter(check_even,mynums)

In [ ]:
list(filter(check_even,mynums))

[2, 4, 6]

In [ ]:
for n in filter(check_even,mynums):
  print(n)

2
4
6

In [ ]:
def square(num): return num ** 2

In [ ]:
square(3)

9

In [ ]:
lambda num: num ** 2

In [ ]:
square = lambda num: num ** 2

In [ ]:
square(3)

9

In [ ]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(filter(lambda num: num%2 == 0,mynums))

[2, 4, 6]

In [ ]:
list(map(lambda x: x[::-1],names))

['ydnA', 'evE', 'yllaS']

Nested Statements and Scope

LEGB Rule:
*   Local
*   Enclosing function locals
*   Global(module)
*   Built-in(Python)

In [ ]:
# lambda num:num**2

In [ ]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
  # Enclosing
  name = 'Sammy'

  def hello():
    # Local
    name = 'I AM LOCAL'
    print('Hello '+name)

  hello()

In [ ]:
greet()

Hello I AM LOCAL

In [ ]:
x = 50

def func():
  global x
  print(f'X is {x}')

  # Local Reassignment on a Global Variable!
  x = 'NEW VALUE'
  print(f'I JUST LOCALLY CHANGED X TO {x}')
  return x

In [ ]:
print(x)

50

In [ ]:
x = func()

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [ ]:
print(x)

NEW VALUE

Homework

In [ ]:
import math
def vol(rad):
  return 4 / 3 * math.pi * (rad**3)

In [ ]:
vol(2)

33.510321638291124

In [ ]:
def ran_check(num,low,high):
  if num in range(low,high+1):
    print(f'{num} is in the range between {low} and {high}')
  else:
    print(f'{num} is not in the range between {low} and {high}')

In [ ]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [ ]:
def ran_bool(num,low,high):
  return num in range(low,high+1)

In [ ]:
ran_bool(11,1,10)

False

In [ ]:
def up_low(s):
  d = {'upper':0,'lower':0}
  for c in s:
    if c.isupper():
      d['upper'] += 1
    elif c.islower():
      d['lower'] += 1
    else:
      pass
  print(f'Original String: {s}')
  print(f'Lowercase count: {d["lower"]}')
  print(f'Uppercase count: {d["upper"]}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [ ]:
def unique_list(lst):
  return list(set(lst))

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
def multiply(numbers):
  product = 1
  for num in numbers:
    product *= num
  return product

In [ ]:
multiply([1,2,3,-4])

-24

In [ ]:
def palindrome(s):
  # Remove space string
  s = s.replace(' ','')
  return s == s[::-1]

In [ ]:
palindrome('hel le h')

True

In [ ]:
import string

def ispangram(str1):
  return set(string.ascii_lowercase) <= set(str1.lower())
# Subset Comparison

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

OOP (Object Oriented Programming)

In [ ]:
mylist = [1,2,3]

In [ ]:
myset = set()

In [ ]:
type(myset)

set

In [ ]:
type(mylist)

list

In [ ]:
class Sample():
  pass

In [ ]:
my_sample = Sample()

In [ ]:
type(my_sample)

__main__.Sample

In [ ]:
class Dog():

  # CLASS OBJECT ATTRIBUTE
  # SAME FOR ANY INSTANCE OF A CLASS
  species = 'mammal'

  def __init__(self,breed,name,spots):

    # Attributes
    # We take in the argument
    # Assign it using self.attribute_name
    self.breed = breed
    self.name = name

    # Expect boolean True/False
    self.spots = spots

  # Actions------>Methods
  def bark(self,number):
    print('WOOF! My name is {} and the number is {}'.format(self.name,number))

In [ ]:
my_dog = Dog(breed='Lab',name='Sammy',spots=False)

In [ ]:
type(my_dog)

__main__.Dog

In [ ]:
my_dog.breed

'Lab'

In [ ]:
my_dog.name

'Sammy'

In [ ]:
my_dog.spots

False

In [ ]:
my_dog.species

'mammal'

In [ ]:
my_dog.bark(10)

WOOF! My name is Sammy and the number is 10

In [ ]:
class Circle():

  # CLASS OBJECT ATTRIBUTE
  pi = 3.14

  def __init__(self,radius=1):

    self.radius = radius
    self.area = radius*radius*self.pi # Better: Circle.pi

  # METHOD
  def get_circumference(self):
    return self.radius * self.pi * 2

In [ ]:
my_circle = Circle(30)

In [ ]:
my_circle.pi

3.14

In [ ]:
my_circle.radius

30

In [ ]:
my_circle.area

2826.0

In [ ]:
my_circle.get_circumference()

188.4

In [ ]:
class Animal():

  def __init__(self):
    print("ANIMAL CREAYED")

  def who_am_i(self):
    print("I am an animal")

  def eat(self):
    print("I am eating")

In [ ]:
class Dog(Animal):

  def __init__(self):
    Animal.__init__(self)
    print("Dog Created")

  def who_am_i(self):
    print("I am a dog")

  def bark(self):
    print("WOOF!")

In [ ]:
mydog = Dog()

ANIMAL CREAYED
Dog Created

In [ ]:
mydog.eat()

I am eating

In [ ]:
myanimal = Animal()

ANIMAL CREAYED

In [ ]:
mydog.who_am_i()

I am a dog

In [ ]:
mydog.bark()

WOOF!

Polymorphism

In [ ]:
class Dog():

  def __init__(self,name):
    self.name = name

  def speak(self):
    return self.name + " says woof!"

In [ ]:
class Cat():

  def __init__(self,name):
    self.name = name

  def speak(self):
    return self.name + " says meow!"

In [ ]:
niko = Dog("niko")
felix = Cat("felix")

In [ ]:
print(niko.speak())

niko says woof!

In [ ]:
print(felix.speak())

felix says meow!

In [ ]:
for pet in [niko,felix]:

  print(type(pet))
  print(pet.speak())

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says meow!

In [ ]:
def pet_speak(pet):
  print(pet.speak())

In [ ]:
pet_speak(niko)

niko says woof!

In [ ]:
class Animal():

  def __init__(self,name):
    self.name = name

  def speak(self):
    raise NotImplementedError("Subclass must implement this abstract method")

In [ ]:
class Dog(Animal):

  def speak(self):
    return self.name + " says woof!"

In [ ]:
class Cat(Animal):

  def speak(self):
    return self.name + " says meow!"

In [ ]:
fido = Dog("Fido")

In [ ]:
isis = Cat("Isis")

In [ ]:
print(fido.speak())

Fido says woof!

In [ ]:
print(isis.speak())

Isis says meow!

In [ ]:
mylist = [1,2,3]

In [ ]:
len(mylist)

3

In [ ]:
class Book():

  def __init__(self,title,author,pages):

    self.title = title
    self.author = author
    self.pages = pages

  def __str__(self):
    return f"{self.title} by {self.author}"

  def __len__(self):
    return self.pages

  def __del__(self):
    print("A book object has been deleted")

In [ ]:
b = Book('Python rocks','Jose',200)

In [ ]:
print(b)

Python rocks by Jose

In [ ]:
str(b)

'Python rocks by Jose'

In [ ]:
len(b)

200

In [ ]:
del b
# del b merely removes the name of variable b from the current namespace, but there might still be references behind Colab

In [ ]:
b

NameError: name 'b' is not defined

OOP Homework

Problem 1: Accept coordinates as a pair of tuples and return the slope and distance of the line.

In [ ]:
class Line():

  def __init__(self,coor1,coor2):
    self.coor1 = coor1
    self.coor2 = coor2

  def distance(self):
    x1,y1 = self.coor1
    x2,y2 = self.coor2
    return ((x2-x1)**2 + (y2-y1)**2)**0.5

  def slope(self):
    x1,y1 = self.coor1
    x2,y2 = self.coor2
    return (y2-y1)/(x2-x1)

In [ ]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [ ]:
li.distance()

9.433981132056603

In [ ]:
li.slope()

1.6

Problem 2

In [ ]:
class Cylinder():
  pi = 3.14

  def __init__(self,height = 1,radius = 1):
    self.height = height
    self.radius = radius

  def volume(self):
    return self.pi * (self.radius ** 2) * self.height

  def surface_area(self):
    return 2 * self.pi * self.radius * (self.radius + self.height)

In [ ]:
c = Cylinder(2,3)

In [ ]:
c.volume()

56.52

In [ ]:
c.surface_area()

94.2

OOP Challenge

In [ ]:
class Account():

  def __init__(self,owner,balance):
    self.owner = owner
    self.balance = balance

  def __str__(self):
    return f"Account owner: {self.owner}\nAccount balance: ${self.balance}"

  def deposit(self,amount):
    self.balance += amount
    print(f"Deposit Accepted. New balance: ${self.balance}")

  def withdraw(self,amount):
    if self.balance >= amount:
      self.balance -= amount
      print(f"Withdraw Accepted. New balance: ${self.balance}")
    else:
      print("Funds Unavailable!")

In [ ]:
acct1 = Account('Jose',100)

In [ ]:
print(acct1)

Account owner: Jose
Account balance: $100

In [ ]:
acct1.owner

'Jose'

In [ ]:
acct1.balance

100

In [ ]:
acct1.deposit(50)

Deposit Accepted. New balance: $150

In [ ]:
acct1.withdraw(75)

Withdraw Accepted. New balance: $75

In [ ]:
acct1.withdraw(500)

Funds Unavailable!

Modules and Packages

Errors and Exception Handling

*   try
*   except
*   finally

In [ ]:
def add(n1,n2):
  print(n1+n2)

In [ ]:
add(10,20)

30

In [ ]:
number1 = 10

In [ ]:
number2 = input("Please provide a number: ")

Please provide a number: 20

In [ ]:
add(number1,number2)
print("Something happened!")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
try:
  result = 10 + 10
except:
  print("Hey it looks like you aren't adding correctly!")
else:
  print("Add went well!")
  print(result)

Add went well!
20

In [ ]:
try:
  f = open('testfile','r')
  f.write("Write a test line")
except TypeError:
  print("There was a type error!")
except OSError:
  print("Hey you have an OS Error!")
except:
  print("All other exceptions!")
finally:
  print("I always run!")

Hey you have an OS Error!
I always run!

In [ ]:
def ask_for_int():

  while True:
    try:
      result = int(input("Please provide number:"))
    except:
      print("Whoops! That is not a number.")
      continue
    else: # no exception
      print("Yes thank you!")
      break
    finally:
      print("End of try/except/finally.")
      print("I will always run at the end!")

In [ ]:
ask_for_int()

Please provide number:q
Whoops! That is not a number.
End of try/except/finally.
I will always run at the end!
Please provide number:qwwe
Whoops! That is not a number.
End of try/except/finally.
I will always run at the end!
Please provide number:20
Yes thank you!
End of try/except/finally.
I will always run at the end!

Homework

In [ ]:
try:
  for i in ['a','b','c']:
    print(i**2)
except:
  print("Error! Watch out!")

Error! Watch out!

In [ ]:
x = 5
y = 0

try:
  z = x/y
  print(z)
except ZeroDivisionError:
  print("Can't devided by Zero!")
finally:
  print("All done!")

Can't devided by Zero!
All done!

In [ ]:
def ask():

  while True:
    try:
      n = int(input("Enter a number:"))
      print(f'Your number squared is {n**2}.')
    except:
      print("An error occurred! Please try again!")
      continue
    else:
      break

In [ ]:
ask()

Enter a number:null
An error occurred! Please try again!
Enter a number:2
Your number squared is 4.

Unit Testing

*   pylint
*   unittest